-- Fix Bug #6: Update slug untuk KIOS ANGEL
UPDATE stores SET slug = 'kios-angel' WHERE name = 'KIOS ANGEL' AND slug != 'kios-angel';

-- Atau update berdasarkan ID jika known
-- UPDATE stores SET slug = 'kios-angel' WHERE id = 1;

